@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --bg1: purple;
  --bg2: lightpink;
  --bg: white;
  --pink-color: #df9091;


}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins";
}
.contact {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background: linear-gradient(var(--pink-color), var(--bg1));
}

.contact__social--email, .contact__social--phone{
  text-align: center;
  margin: 10px;
  transform: translateY(200%);
}
.contact__social--email i, .contact__social--phone i{
  font-size: 20px;
  transform: translateY(4px);

}
.contact__social--email button, .contact__social--phone button{
    background: rgb(243, 229, 241);
    /* transform: translateY(-35px); */
    border: none;
    outline: none;
    color: rgb(224, 125, 141);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.25s;
    cursor: pointer;
}

.contact__social--email button:hover,.contact__social--phone button:hover{
  transform: scale(0.9);
}
/* .contact__social--email button i,.contact__social--phone button i {
  font-size: larger;
  margin: 2px;
} */
.test{
  object-fit: cover;
}
.modal, .modal1{
  position: fixed;
  top: 10px;
  height: 450px;
  width: 350px;
  border-radius: 10px;
  background: rgba(0,0,0,0.5);
}
.modal_inner, .modal1_inner{
  width: 340px;
  position: relative;
  top: 20%;
  margin: auto;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  animation: modalShow 0.2s linear;
}
.modal__header, .modal1__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px; 
  background: var(--pink-color);
  color: white;
}

.modal__body, .modal1__body{
  padding-top: 15px;
  padding-left: 5px;
}

.modal__body h4, .modal1__body a{
  color: var(--pink-color);
  margin-bottom: 10px;
}
.modal1__body a{
  font-weight: bold;
}
.modal__footer, .modal1__footer ,.modal__mail{
  padding: 15px;
}
.modal__footer, .modal1__footer {
  text-align: right;
}
.modal__footer{
  transform: translateX(110%);
}
.modal__mail{
  text-align: left;
}
.modal__footer,.modal__mail{
  display: inline-block;
}
.img img{
  width: 50%;
  height: 40%;
  object-fit: cover;
  transform: translate(50px);
  position: absolute;
  top: 270px;
  right: 138px;
  transition: 0.5s;
}
.modal__footer button ,.modal1__footer button,.modal__mail button {
  color: white;
  background: var(--pink-color);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal__mail button a{
  color: white;
  text-decoration: none;
}
.modal__mail button{
  padding: 10px 15px;
}
.modal__footer button ,.modal1__footer button{
  padding: 10px 20px;
}
.hide{
  display: none;
}
@keyframes modalShow {
  from{
      top: -200px;
      opacity: 0;
  }
  to{
      top:50%;
      opacity: 1;
  }
}

.icon-back{
  color: #ffffff;
  font-size:xx-large;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 88%;
  bottom: 85%;
}
.map{
  margin: 8px;
  height: 200px;
  width: 95%;
  transform: translateY(40%);
  border-radius: 10px;

}
